body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

.error {
	display: none;
	color: #e13f3f;
	font-style: italic;
}

.sort-icon {
	float: right;
}

.welcome-message {
	text-align: center;
}

.user-label {
	color: #9d9d9d;
	font-size: medium;
}

.dropdown {
	font-size: large;
}

.menu-icon {
	margin-right: 8px;
}

.dropdown-menu {
	background-color: #333;
	width: -moz-available;
}

.dropdown-menu-item {
	font-size: medium;
	color: #9d9d9d;
	padding-left: 15px;
}

.dropdown-menu-item:hover {
	color: white;
	
}