<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
    <listener>
      <listener-class>com.excilys.cdb.config.DaoFactoryInitialization</listener-class>
    </listener>
    
    <servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>com.excilys.cdb.servlet.DashboardServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>Dashboard</servlet-name>
	    <url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddComputer</servlet-name>
		<servlet-class>com.excilys.cdb.servlet.AddComputerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AddComputer</servlet-name>
	    <url-pattern>/addComputer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditComputer</servlet-name>
		<servlet-class>com.excilys.cdb.servlet.EditComputerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>EditComputer</servlet-name>
	    <url-pattern>/editComputer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Error404</servlet-name>
		<servlet-class>com.excilys.cdb.servlet.Error404Servlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>Error404</servlet-name>
	    <url-pattern>/404</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Error500</servlet-name>
		<servlet-class>com.excilys.cdb.servlet.Error500Servlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>Error500</servlet-name>
	    <url-pattern>/500</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	    <welcome-file>dashboard</welcome-file>
	</welcome-file-list>
	
	<error-page>
	    <!-- Missing resource -->
	    <error-code>404</error-code>
	    <location>/404</location>
	</error-page>
	
	<error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/500</location>
	</error-page>

</web-app>